po4a.conf
po4a-stamp
Gemfile.lock
**/*.adoc
*/*.1
*/*.7
*/*.html
*/*.xml
*/*.dep+
!en/**/*.adoc
po/*.mo
po4a/
.weblate
/cs/
/de/
/es/
/es_MX/
/fr/
/hu/
/id/
/is/
/it/
/ja/
/ko/
/mr/
/my/
/nb_NO/
/nl/
/pl/
/pt_BR/
/pt_PT/
/ro/
/ru/
/sk/
/sv/
/tr/
/uk/
/vi/
/zh_HANS-CN/
/zh_HANT/
vendor/
.bundle/
